<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My webpage</title>
<script type="text/javascript" src="https://me.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=16rDlGKtJ_Wi78kiJLy3jUkRjXLbL-upek33JTn0moWqa7kDZZXzk3WCZZ7CxrBwDRJ4Ma_eO8qR1Z2RkKYBSXDQWEHwiM6R0gY3aGm0K_iqgRdYOh7_8jb3zMrPhUE1SsEuHk1CfpcoUQM34Yk-_Hm5_OUolyri3SzN3-LanqF5tBcOz1BSc9jwA42exP4U2zY60TiuClAwLDHXE89Wgfgr-1iQc3moBTZJaMu7RPb2J33hiyi-xRgi1LpL3zhajV5nvJj8UTKkVpru0lxoUOOa2w_gczJF2Tl6JLjSHGnrPJWD2GfSgrOxt-VGyA4XcRt4dm0IzzQm-u5Ay6h4vn1_n5KC-Dplc0D5huKe2S-unL6321nPpNXiChahFg2bHdBeoFDVtJtIb6TCN8LkZoxNtN6-PNgOETE0EhmOqUX7iWelrW1QYZXZEL4M_Jqso4bHlGSLgV7IawTtkZqfPWh-kb3NH2JpDSC8NTAvY6z3YypUl717ZmOLmLxC2dpulI_jKZAnNUoUeQqhQjjV6d5qOvdd42YH7_DIwrErQQCMxjw1INWtTU8xfUa8_VljRImUFoe3IBoKv39iU_96eUEY3MLYVQ3PW6yJhQ-TzYhDI97_ho7d4XPnBMetz1gaEwX4u6rv1Ib46LEWimrI1ehwEBq4seadVLqm2s6JROo8YIP28lRb5vjRM8xwR-sh0ziV9g-vjJy_pxs9QxqjLbNQaBlgHKr7wZiXu5JZ2rsBPxJS410MlXccHn8IuqEwu1G1PU8M9HvKfVpt-X9mzA" charset="UTF-8"></script></head>
<body>
    <nav>
        <a href="/about/">About</a>
        <a href="/contact-us/">Contact Us</a>
        <a href="/store/">Store</a>
    </nav>
    <h1>Welcome</h1>
    <h2>This is our webpage</h2>
    <p>Hello, this is our first webpage.</p>
    <img src="{{url_for('static',filename='cat.png')}}" style="width:500px">
    <br>
    <br>
    <a href="https://google.com">Google Page</a>
</body>
</html>